<section>
	<h1>
		<img src="img/logo-futuro-em-rede-nobg.png" alt="Futuro em Rede">
	</h1>
	<h2>Conectando pessoas ao conhecimento digital</h2>
	<div class="flex gap-8 justify-center">
		<a href="/cadastro" onclick="route(event)" class="button">Participe -></a>
		<a href="/cadastro" onclick="route(event)" class="button">Faça uma doação -></a>
	</div>
</section>
<section id="sobre">
	<h2>Sobre Nós</h2>
	<p class="text-lg">A Futuro em Rede é uma organização sem fins lucrativos que acredita no poder da educação digital para transformar vidas.
		Atuamos em comunidades de baixa renda, oferecendo cursos gratuitos de informática, programação e cidadania digital.
		Nosso objetivo é capacitar jovens e adultos para o mercado de trabalho e promover inclusão social por meio da tecnologia.</p>
</section>
<hr>
<section id="missao" class="text-lg">
	<h2>Nossa Missão e Valores</h2>
	<p>Conectar pessoas ao conhecimento e às oportunidades do futuro digital.</p>
	<ul>
		<li>Acesso igualitário ao conhecimento</li>
		<li>Empatia e colaboração</li>
		<li>Sustentabilidade social</li>
		<li>Ética e transparência</li>
	</ul>
</section>
<hr>
<section id="projetos">
	<h2>Nossas Ações em Destaque</h2>
	<article>
		<h3>Oficinas de programação para adolescentes</h3>
		<ul>
			<li class="text-lg">
				Iniciando os jovens ao mundo da programação
			</li>
		</ul>
	</article>
	<article>
		<h3>Cursos de alfabetização digital para adultos e idosos</h3>
		<ul>
			<li class="text-lg">
				Mantendo todos atualizados nas inovações da tecnoloigia
			</li>
		</ul>
	</article>
	<article>
		<h3>Parcerias com escolas públicas</h3>
		<ul>
			<li class="text-lg">
				Implementando a alfabetização digital desde cedo com os alunos
			</li>
		</ul>
	</article>
	<a href="/projetos" onclick="route(event)" class="button">Conheça nossos projetos -></a>
</section>
<hr>
<section id="newsletter">
	<h2>Receba novidades sobre nossos projetos e próximos mutirões.</h2>
	<form>
		<fieldset class="max-w-screen-sm">
			<legend>Newsletter</legend>
			<label for="email">
				<span>Informe seu e-mail para receber atualizações:</span>
				<input type="email"
				       id="email"
				       name="email"
				       placeholder="exemplo@email.com"
				       required
				>
			</label>
			<button type="submit">Assinar Newsletter</button>
		</fieldset>
	</form>
</section>
<hr>
<section id="contato">
	<h2>Contato</h2>
	<address>
		<p>E-mail: <a href="mailto:contato@futuroemrede.org">contato@futuroemrede.org</a></p>
		<p>Telefone: <a href="tel:+551140002040">(11) 4000-2040</a></p>
		<p>Endereço: Rua da Tecnologia, 101 - São Paulo, SP</p>
		<!--Endereço ficticio, por tanto o mapa mostra apenas a cidade de São Paulo como um todo e não o endereço exato, apenas para exemplo de como seria a implemantação do mapa-->
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d233845.1663963411!2d-46.760103210479315!3d-23.68201078658353!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce448183a461d1%3A0x9ba94b08ff335bae!2sS%C3%A3o%20Paulo%2C%20State%20of%20S%C3%A3o%20Paulo!5e0!3m2!1sen!2sbr!4v1760193780709!5m2!1sen!2sbr" title="Localização Google Maps" allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</address>
</section>
<footer>
	<hr>
	<p>© 2025 Futuro em Rede – Todos os direitos reservados</p>
	<aside>
		<a href="/" onclick="route(event)">Inicio</a>
		<span>|</span>
		<a href="/projetos" onclick="route(event)">Projetos</a>
		<span>|</span>
		<a href="/cadastro" onclick="route(event)">Cadastro</a>
		<span>|</span>
		<a href="/cadastro" onclick="route(event)">Doações</a>
		<span>|</span>
		<a href="/politica" onclick="route(event)">Política de Privacidade</a>
	</aside>
</footer>
